body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
  letter-spacing: 0.02em;
}

.link {
  text-decoration: none;
}

ul {
  list-style: none;
}

/* Хедер */

.header {
  list-style: none;
}

.header .list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.header-studio .link {
  list-style: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  list-style: none;
  text-decoration: none;
  color: #2e2f42;
}

.header-studio .link:hover,
.header-studio .link:focus {
  color: #404bbf;
}

.address-list {
  font-style: normal;
}

.address .link {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  text-decoration: none;
}

.address .link:hover,
.address .link:focus {
  color: #404bbf;
}

.header-logo {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.header-logo span {
  font-size: 18px;
  line-height: 1.17;
  color: #2e2f42;
}

/* Головне меню */

.heading-caption {
  font-style: normal;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
}

.heading {
  background: #2e2f42;
  font-weight: 700;
  text-align: center;
  font-size: 56px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
}

.heading-btn {
  font-family: "Roboto", sans-serif;
  background: #4d5ae5;
  box-shadow: 0px 4px 4px rgba (0, 0, 0, 0.15);
  color: #ffffff;
  cursor: pointer;
  line-height: 1.5;
  letter-spacing: 0.04em;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  padding: 16px 32px;
}

.heading-btn:hover,
.heading-btn:focus {
  background: #404bbf;
}

.aside-btn {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px 24px;
  width: 78px;
  height: 48px;
  background: #f4f4fd;
  border: 1px solid #e7e9fc;
  border-radius: 4px;
  flex: none;
  order: 2;
  flex-grow: 0;
  color: #4d5ae5;
}

.aside-btn:hover,
.aside-btn:focus {
  background: #404bbf;
  color: #ffffff;
}

.headline {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  text-transform: capitalize;
  color: #2e2f42;
}

.subtitle {
  font-weight: 500;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
}

.subtitle-paragraph {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: #434455;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.subtitle-name {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.02em;
  color: #2e2f42;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.main-list-link {
  text-decoration: none;
}

.main-list-banking {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.main-list-app {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.main-photo .list {
  width: 264px;
  height: 260px;
  background: url(man-with-laptop-presenting-something.jpg);
  mix-blend-mode: normal;
  letter-spacing: 0.02em;
  flex: none;
  order: 0;
  flex-grow: 0;
}

/* Футер */

.footer-logo {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.footer-logo-studio {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #f4f4fd;
}

.footer-studio {
  color: #f4f4fd;
}

.footer {
  background: #2e2f42;
}
.footer-text {
  color: #e7e9fc;
}
